
body{
    transition: background-color 0.4s ease,color 0.4s ease;
}

button,
input,
textarea,
.login-form,
#mainbox,
.navbar,
.note-card{
    transition: all 0.3s ease;
}

.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p,
.dark-mode label{
    color:white;
}

.dark-mode a{
    color:#66b3ff;
}


#theme-toggle{

    position:fixed;

    top:20px;
    right:20px;

    width:50px;
    height:50px;

    border:none;
    border-radius:50%;

    cursor:pointer;

    font-size:20px;

    background:white;

    box-shadow:0 4px 10px rgba(0,0,0,0.2);

    z-index:999;
}

.dark-mode #theme-toggle{

    background:#2d2d2d;
    color:white;
}


.dark-mode .login-form{

    background:#1f1f1f;

    border:2px solid #555;

    color:white;

    box-shadow:0 8px 20px rgba(255,255,255,0.08);
}

.dark-mode input{

    background:#2d2d2d;

    color:white;

    border:1px solid #555;
}

.dark-mode input::placeholder{

    color:#bbbbbb;
}

.dark-mode .signin{

    background:#2d2d2d;

    color:white;

    border:1px solid #555;
}

.dark-mode .login,
.dark-mode .submit{

    background:linear-gradient(90deg,#0f2027,#203a43,#2c5364);
}

.dark-mode #mainbox{

    background:#1f1f1f;

    border:2px solid #555;

    box-shadow:0 8px 20px rgba(255,255,255,0.08);
}

.dark-mode .input-area{

    background:#2d2d2d;

    color:white;

    border:1px solid #555;
}

.dark-mode .input-area::placeholder{

    color:#bbbbbb;
}

.dark-mode .option-login{

    border:1px solid #555;
}

.dark-mode .option-login a{

    background:#2d2d2d;

    color:white;

    border:1px solid #555;
}

.dark-mode #signup-btn,
.dark-mode #submit-btn{

    background:linear-gradient(90deg,#0f2027,#203a43,#2c5364);

    color:white;
}



.dark-mode .navbar{

    background:#1f1f1f;

    box-shadow:0 4px 12px rgba(255,255,255,0.05);
}

.dark-mode .nav-left button{

    color:white;
}

.dark-mode .nav-left button:hover{

    background:#2d2d2d;
}

.dark-mode .active-btn{

    background:#2c5364 !important;
}

.dark-mode #searchInput{

    background:#2d2d2d;

    color:white;

    border:1px solid #555;
}

.dark-mode #searchInput::placeholder{

    color:#bbbbbb;
}

.dark-mode .add-btn{

    background:#2c5364;
}

.dark-mode .logout-btn{

    color:#ff6b6b;
}

.dark-mode .note-card{

    background:#1f1f1f;

    color:white;

    box-shadow:0 6px 15px rgba(255,255,255,0.05);
}

.dark-mode .note-card h3{

    color:white;
}

.dark-mode textarea{

    background:#2d2d2d;

    color:white;

    border:1px solid #555;
}

.dark-mode textarea::placeholder{

    color:#bbbbbb;
}

.dark-mode .save-btn{

    background:#2e8b57 !important;
}

.dark-mode .star-btn{

    background:#d4af37 !important;

    color:black !important;
}

.dark-mode .delete-btn{

    background:#b22222 !important;
}